        body {
            font-family: 'Poppins', sans-serif;
            background-color: #1a1919;
            color: #fff;
            background: url(img/steamuserimages-a.akamaihd.png);
            background-size: 200%;           
        }

        .logo {
            background-color: #ffffff9a;
            border-radius: 20px;                      
        }

        .navbar-brand {
            font-weight: bold;
            color: #ffffff;
            font-size:xx-large
        }

        .navbar-nav .nav-link {
            color: #ffffff;
        }

        .banner {
            background: url('banner.jpg') no-repeat center center;
            background-size: cover;
            color:fff;
            padding: 100px 0;
            text-align: center;
        }

        .banner h1 {
            font-size: 3rem;
            font-weight: bold;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .product-card {
            background-color: #333;
            border: none;
            border-radius: 15px;                      
        }

        .product-card img {
            max-height: 200px;
            max-width: fit-content;            
            object-fit: cover;
            border-radius: 10px;
        }

        footer {
            background-color: #0d0d0d;
            padding: 20px 0;
            border-radius: 10px;
        }

        footer a {
            color: #ffffff;
            text-decoration: none;
        }

        .preco-item{
            font-family:Arial, Helvetica, sans-serif;
            color: gold;
        }